# Dependencias de Node.js
node_modules/

# Lockfiles (si decides no versionarlos)
package-lock.json

# Carpetas de construcción generadas
dist/
build/

# Archivos de configuración de herramientas (ESLint, Prettier, etc.)
.eslintcache

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Archivos de configuración de VSCode
.vscode/

# Archivos temporales
*.log
*.tmp
