.navbar {
    position: fixed;
    top: 0;
    left: -100%;
    width: 85%;
    height: 100vh;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
}

.navbar.open {
    left: 0;
}

.navbar-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 80px 40px;
}

.nav-logo {
    font-size: 40px;
    font-weight: bold;
    color: #a5b4e3;
    margin-bottom: 40px;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.nav-links li {
    margin-bottom: 35px;
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 10px;
}

.nav-links li a {
    color: #a5b4e3;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.nav-links li a:hover {
    color: #8494c7;
}

.nav-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
}

.menu-button {
    position: fixed;
    top: 24px;
    left: 24px;
    z-index: 1100;
    width: 30px;
    height: 30px;
    background: none;
    border: none;
}

/* Botones en el menú */
.primary-button-a {
    background-color: #a5b4e3;
    color: white !important;
    padding: 12px 25px;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    transition: background-color 0.3s ease;
    text-decoration: none;
    display: block;
}

.primary-button-a:hover {
    background-color: #8494c7;
}

.primary-button-b {
    background-color: white;
    color: #a5b4e3;
    padding: 12px 30px;
    border: 2px solid #a5b4e3;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
    display: block;
}

.primary-button-b:hover {
    background-color: #f0f0f0;
}